.counter
{
    text-align: center;
}

.counter-count
{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    color: #000000;
    text-align: left;
    display: inline-block;
}

/* Police Marianne - Regular */
@font-face {
    font-family: 'Marianne';
    src: url('../fonts/Marianne-Regular.woff2') format('woff2');
}

body {
    font-family: Marianne, sans-serif;
  }

.form-control:focus {
    border-color: #df4a4a;
    box-shadow: 0 0 0 3px rgba(255, 54, 54, 0.6);
}


.accordion-button:focus {
    border-color: #df4a4a;
    box-shadow: 0 0 0 3px rgba(255, 54, 54, 0.6);
}

.btn:focus {
    border-color: #df4a4a;
    box-shadow: 0 0 0 3px rgba(255, 54, 54, 0.6);
}

.dropdown-toggle:focus {
    border-color: #df4a4a;
    box-shadow: 0 0 0 3px rgba(255, 54, 54, 0.6);
}

.form-check-input:focus {
    border-color: #df4a4a;
    box-shadow: 0 0 0 3px rgba(255, 54, 54, 0.6);
}

.contentIntensiveTable {
    font-size: 10px; /* Vous pouvez ajuster la taille en fonction de vos besoins */
}

legend {
    font-size: 16px; /* Vous pouvez ajuster la taille en fonction de vos besoins */
}

h4 {
    font-size: 22px
}