.counter
{
    text-align: center;
}

.counter-count
{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    color: #000000;
    text-align: left;
    display: inline-block;
}

/* Police Marianne - Regular */
@font-face {
    font-family: 'Marianne';
    src: url('fonts/Marianne-Regular.woff2') format('woff2');
}

body {
    font-family: Marianne;
  }